In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import plotly.express as px

In [21]:
data = pd.read_csv("met_data.csv")

In [22]:
data

,DATE,RAINFALL (mm),Max Temp (°C),Min Temp (°C),Mean Temp (°C),Soil Temp @ 50cm (°C),Sunshine Hours,Evaporation (mm)
0,2014-01-01,NaN,34.0,23.0,28.5,30.50,7.20,4.00
1,2014-01-02,NaN,35.0,24.0,29.5,30.00,6.60,4.00
2,2014-01-03,NaN,32.0,23.0,27.5,30.50,7.20,6.00
3,2014-01-04,NaN,33.0,21.0,27.0,30.50,6.10,4.00
4,2014-01-05,NaN,31.5,22.0,26.8,30.50,7.30,4.00
...,...,...,...,...,...,...,...,...
3647,2023-12-27,NaN,30.0,21.0,25.5,NaN,4.20,3.40
3648,2023-12-28,NaN,31.0,22.0,26.5,NaN,5.50,4.10
3649,2023-12-29,NaN,32.0,22.0,27.0,NaN,5.70,3.80
3650,2023-12-30,NaN,32.0,21.0,26.5,NaN,4.10,3.20
3651,2023-12-31,NaN,31.0,21.0,26.0,NaN,3.80,2.90

In [23]:
if 'DATE' in data.columns:
    data['DATE'] = pd.to_datetime(data['DATE'], format="%Y-%m-%d")

In [24]:
if 'DATE' in data.columns:
    data['year'] = data['DATE'].dt.year
    data['month'] = data['DATE'].dt.month
    data['day'] = data['DATE'].dt.day

In [25]:
data

,DATE,RAINFALL (mm),Max Temp (°C),Min Temp (°C),Mean Temp (°C),Soil Temp @ 50cm (°C),Sunshine Hours,Evaporation (mm),year,month,day
0,2014-01-01,NaN,34.0,23.0,28.5,30.50,7.20,4.00,2014,1,1
1,2014-01-02,NaN,35.0,24.0,29.5,30.00,6.60,4.00,2014,1,2
2,2014-01-03,NaN,32.0,23.0,27.5,30.50,7.20,6.00,2014,1,3
3,2014-01-04,NaN,33.0,21.0,27.0,30.50,6.10,4.00,2014,1,4
4,2014-01-05,NaN,31.5,22.0,26.8,30.50,7.30,4.00,2014,1,5
...,...,...,...,...,...,...,...,...,...,...,...
3647,2023-12-27,NaN,30.0,21.0,25.5,NaN,4.20,3.40,2023,12,27
3648,2023-12-28,NaN,31.0,22.0,26.5,NaN,5.50,4.10,2023,12,28
3649,2023-12-29,NaN,32.0,22.0,27.0,NaN,5.70,3.80,2023,12,29
3650,2023-12-30,NaN,32.0,21.0,26.5,NaN,4.10,3.20,2023,12,30
3651,2023-12-31,NaN,31.0,21.0,26.0,NaN,3.80,2.90,2023,12,31