In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import plotly.express as px

In [4]:
data = pd.read_csv("met_data.csv")

In [5]:
data

,DATE,RAINFALL (mm),Max Temp (°C),Min Temp (°C),Mean Temp (°C),Soil Temp @ 50cm (°C),Sunshine Hours,Evaporation (mm)
0,1-Jan-2014,NaN,34.0,23.0,28.5,30.50,7.20,4.00
1,2-Jan-2014,NaN,35.0,24.0,29.5,30.00,6.60,4.00
2,3-Jan-2014,NaN,32.0,23.0,27.5,30.50,7.20,6.00
3,4-Jan-2014,NaN,33.0,21.0,27.0,30.50,6.10,4.00
4,5-Jan-2014,NaN,31.5,22.0,26.8,30.50,7.30,4.00
...,...,...,...,...,...,...,...,...
3647,27-Dec-2023,NaN,30.0,21.0,25.5,NaN,4.20,3.40
3648,28-Dec-2023,NaN,31.0,22.0,26.5,NaN,5.50,4.10
3649,29-Dec-2023,NaN,32.0,22.0,27.0,NaN,5.70,3.80
3650,30-Dec-2023,NaN,32.0,21.0,26.5,NaN,4.10,3.20
3651,31-Dec-2023,NaN,31.0,21.0,26.0,NaN,3.80,2.90